
.chartD{
  display: flex;
  gap:20px;
  margin-left: 50px;
  width:90%;
  
  

.chart {
  width: 800px;
  padding:25px;
  height: 420px;
  
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  color: gray;

  .title {
    margin-bottom: 20px;
  }
  .cBS{
    transition: all ease 0.5s;
    &:hover{
      transform: scale(1.3);
    }
  }

  .chartGrid {
    stroke: rgb(228, 225, 225);
  }
}
.cB{

  display: flex;
  flex-direction: column;
  row-gap: 30px;
  
  
  .cBS{
    transition: all ease 0.5s;
    
    &:hover{
      transform: scale(1.3);
    }
  }
  
}


}

