.navbar {
  
  height: 90px;
  border: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  transform: translateY(-30px);
  font-size: 10px;
  color: #555;

  .wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    

    .items {
      display: flex;
      align-items: center;
      transform: translate(-170px,5px);


      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;
        font-size: 10px;
        margin-left: 0;
        cursor: pointer;
        font-weight: 100;

        // .icon {
        //   font-size: 20px;
        // }

        // .avatar {
        //   width: 30px;
        //   height: 30px;
        //   border-radius: 50%;
        // }
        &:hover{
          color: blue;
          border-bottom: 2px solid blue;
        }

        
      }
    }
  }
}
